.logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #9a86f3;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.logout-btn svg {
    font-size: 1.3rem;
    color: #ebe7ff;
}

@media screen and (max-width: 768px) {
    .logout-btn{
        margin-left: 5px;
    }
    .logout-btn svg {
        font-size: 1rem;
        color: #ebe7ff;
    }
}